/* Error: Undefined mixin.
 *    ,
 * 24 | /   @include box-shadow(
 * 25 | |     0 1px 1.5px 0 rgba($shadow-color, 0.12),
 * 26 | |     0 1px 1px 0 rgba($shadow-color, 0.24)
 * 27 | |   );
 *    | '---^
 *    '
 *   style.scss 24:3  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 24 \2502  \250c    @include box-shadow(\a 25 \2502  \2502      0 1px 1.5px 0 rgba($shadow-color, 0.12),\a 26 \2502  \2502      0 1px 1px 0 rgba($shadow-color, 0.24)\a 27 \2502  \2502    );\a    \2502  \2514 \2500 \2500 \2500 ^\a    \2575 \a   style.scss 24:3  root stylesheet";
}
